@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

/* .container {
  max-width: 100%;
} */

.featuresSection {
  background: radial-gradient(
    76.08% 100% at 49.97% 100%,
    var(--blue) 0%,
    var(--dark-blue) 100%
  );
}
